body {
    margin: 0;
    padding: 0;
    display: flex;
}
.left_panel {
    width: 20vw;
    height: 100vh;
    border-right: 1px black solid;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}
h1 {
    font-size: 3em;
}
.btn_new_project {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 95%;
    height: 7%;
    border-color: rgb(167, 54, 10);
    margin-bottom: 30px;
}
#projects_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.right_panel {
    display: flex;
    flex-direction: column;
}
.right_top {
    width: 80vw;
    height: 12vh;
    border-bottom: 1px black solid;
    background-color: whitesmoke;
}
.right_bottom {
    width: 80vw;
    height: 88vh;
    background-color: whitesmoke;
}
.project_button {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 95%;
    height: 7%;
    border-color: rgb(20, 6, 0);
}

.right_top {
    padding-left: 20px; 
    font-size: 3em;
    display: flex;
    align-items: center;

}

.addTask {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 5%;
    height: 20%;
    border-color: rgb(167, 54, 10);
    margin-left: 20px;
}

.right_bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.tdiv {
    background-color: black;
    width: 100%;
    height: 100%;
}

#newProjectDialog {
    width: 15%;
    height: 12%;
    border-radius: 20px;
    padding: 15px;
}

.formContDia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project_name{
    display: flex;
    
}

.btnsub{
    width: 100%;
}
#submitp {
    width: 90%;
}

.close {
    margin-left: auto;
}