body {
    margin: 0;
    padding: 0;
    display: flex;
}
.left_panel {
    width: 20vw;
    height: 99vh;
    border-right: 2px rgb(46, 45, 45) solid;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}
h1 {
    font-size: 3em;
}
.btn_new_project {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 95%;
    height: 7%;
    border-color: rgb(167, 54, 10);
    margin-bottom: 30px;
}
#projects_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.right_panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.right_top {
    width: 80vw;
    height: 12vh;
    border-bottom: 2px rgb(46, 45, 45) solid;
    background-color: whitesmoke;
}
.right_bottom {
    width: 80vw;
    height: 88vh;
    background-color: whitesmoke;
}
.project_button {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 95%;
    height: 7%;
    border-color: rgb(20, 6, 0);
    display: flex;
    align-items: center;
    padding: 15px;
}

.right_top {
    padding-left: 20px; 
    font-size: 3em;
    display: flex;
    align-items: center;
}

.addTask {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 5%;
    height: 20%;
    border-color: rgb(167, 54, 10);
    margin-left: 20px;
    margin-right: 20px;
}

.right_bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    grid-auto-rows: 200px;
}

.tdiv {
    background-color: rgb(238, 232, 232);
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tmain1, .tmain2 {
    font-size: 1.5em;
    height: 30%;
    width: 80%;
}

.tdiv:hover {
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}

#newProjectDialog {
    width: 15%;
    height: 12%;
    border-radius: 20px;
    padding: 15px;
}

.formContDia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project_name{
    display: flex;
}

.btnsub{
    width: 100%;
    
}
#submitp {
    align-self: center;
    width: 100%; 
    max-width: 300px; 
    margin-top: 1rem;
}

.closeP {
    margin-left: auto;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px gray;
  }


.project_button_del {
    background-color: rgb(187, 77, 77);
    margin-left: auto;
    border-radius: 5px;
    width: 25%;
    height: 25px;
}

#taskDD {
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.close {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
#close {
    margin-left: auto;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background: none;
    width: auto;
    height: auto;
    padding: 0;
}
#close:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

#taskDia {
    border-radius: 20px;
}

.task_input_container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#description {
    width: 99%;
    min-height: 40px;
    resize: none;
}
#submit {
    border-radius: 5px;
    margin-top: 9px;
    height: 32px;
    background-color: rgba(208, 209, 211, 0.7);;
}